dist/miniipe-0.1.6-py3.8.egg
dist/miniipe-0.1.6.tar.gz
dist/miniipe-0.1.7-py3.8.egg
dist/miniipe-0.1.7.tar.gz
dist/miniipe-0.1.8.tar.gz
dist/miniipe-0.1.9.tar.gz
example/.DS_Store
example/demo.ipe
example/simple.ipe
.DS_Store
